# This workflow will build a TypeScript project

name: TypeScript

on:
    push:
        branches: ['main']
    pull_request:
        branches: ['main']

jobs:
    build:
        runs-on: ubuntu-latest
        env:
            SAM_STACK_NAME: waterfall-artworks-service
            SAM_REGION: us-east-1
            SAM_CAPABILITIES: CAPABILITY_IAM
        steps:
            - uses: actions/checkout@v5

            - name: Setup Node.js environment
              uses: actions/setup-node@v6
              with:
                  node-version: '22'

            - name: Install dependencies
              run: npm install

            - name: Build TypeScript
              run: tsc

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v5
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: ${{ env.SAM_REGION }}

            - name: Make Deploy
              run: |
                  make deploy
